// Tipografia
$main_font: "Montserrat", sans-serif;

// colores
$bg_page: #e5e5e5;
$bg_card: #61889f;

//Tamaño letra
$title: 26px;
$sub_title: 20px;
$text: 18px;

// Tamaños de Media Queries
$tablet: 600px;
